.list-repositories {
  @screen lg {
    &:hover {
      .item-repository {
        transition: all 0.4s ease-in-out;
        opacity: 0.4;
        &:hover {
          transform: scale(1.1);
          opacity: 1;
        }
      }
    }
  }
}
